:root {
  --main: #f9fafd;
  --main-accent: #9cc0ab;
  --secondary-accent: #384351;
}
* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--main);
  transition: 0.3s ease;
  height: 100px;
}

.nav__links {
  transition: 0.6s ease;
}

.nav__link {
  font-family: "Poppins", sans-serif;
  transition: 0.4s ease;
  text-decoration: none;
  color: var(--secondary-accent);
  font-size: 18px;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding: 1rem;
  position: relative;
  vertical-align: middle;
}

.nav__logo {
  margin-left: 20px;
  font-family: "Bodoni Moda", serif;
  font-weight: 300;
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.nav__logo a {
  text-decoration: none;
  color: var(--main-accent);
}

.nav__social {
  text-align: center;
  white-space: nowrap;
}

.nav__social::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.nav__social svg {
  display: inline-block;
  vertical-align: middle;
}

.navBottomBorder {
  width: 0%;
  border-bottom: var(--main) 2px solid;
  position: absolute;
  bottom: 5px;
  left: 35%;
  transition: 0.6s ease;
}

.nav__link:hover .navBottomBorder {
  border-bottom: var(--main-accent) solid 2px;
  width: 100%;
  left: 0%;
}

.instagram-svg {
  fill: var(--secondary-accent);
  width: 32px;
  height: 32px;
  transition: 0.6s ease;
}

.nav__social:hover .instagram-svg {
  fill: url(#MyGradient);
}

#nav__check {
  display: none;
}

.nav__menu-icon {
  display: none;
}

.nav__mobile-links {
  display: none;
  background-color: var(--main);
}

.nav__active .nav__link,
.nav__active .nav__logo {
  color: var(--secondary-accent);
}
.nav__active .nav__social svg {
  fill: var(--secondary-accent);
}
.nav__active .nav__links a:hover .navBottomBorder {
  border-bottom: var(--main-accent) solid 2px;
  width: 100%;
  left: 0%;
}

.nav__mobile-links {
  display: none;
  position: absolute;
  width: 100%;
  height: 0px;
  text-align: left;
  transition: 0.3s ease-in;
  overflow-y: hidden;
  top: 100px;
  left: 0px;
}

.nav__mobile-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: var(--secondary-accent);
  display: block;
  position: relative;
  width: 100%;
  padding: 1rem;
  border-bottom: var(--secondary-accent) solid 2px;
  transition: 0.3s ease;
}

.nav__mobile-link:hover {
  padding-left: 50px;
  border-bottom: var(--main-accent) solid 2px;
}

/* Slideshow container */
.slideshow {
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.slideshow__slides {
  display: none;
}

/* Next & previous buttons */
.slideshow__prev,
.slideshow__next {
  cursor: pointer;
  position: absolute;
  top: 45vh;
  width: auto;
  color: white;
  padding-right: 5px;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 100px;
  user-select: none;
}

/* Position the "next button" to the right */
.slideshow__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow__prev span,
.slideshow__next span {
  font-size: 100px;
  transition: 0.4s ease;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow__prev:hover,
.slideshow__prev:hover span {
  margin-left: -7px;
  font-size: 105px;
}
.slideshow__next:hover,
.slideshow__next:hover span {
  margin-right: -7px;
  font-size: 105px;
}

/* Caption text */
.slideshow__text {
  color: var(--secondary-accent);
  font-family: "Bodoni Moda", sans-serif;
  font-size: 24px;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background: rgb(249, 250, 253, 0.5);
}

.slideshow__dots {
  position: absolute;
  bottom: 0%;
  left: 48%;
  transition: 0.6s ease;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

/* The dots/bullets/indicators */
.slideshow__dot {
  cursor: pointer;
  color: white;
  display: inline-block;
  position: relative;
  transition: 0.4s ease;
}

.slideshow__active:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "radio_button_checked";
}

.slideshow__dot:hover {
  font-variation-settings: "FILL" 1;
}

/* Fading animation */
.slideshow__fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
  transition: 0.3s;
}

.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
  transition: 0.3s;
}

.gallery__link {
  margin: 2px;
  overflow: hidden;
  cursor: pointer;
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}

.gallery__thumb {
  position: relative;
  transition: 0.3s;
  margin: 0px;
}

.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}

.gallery__link:hover .gallery__image {
  transform: scale(1.1);
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0px;
  color: white;
  opacity: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}

.body {
  margin: 20px 100px 100px 100px;
}

.latest__header {
  margin-top: 100px;
  color: var(--secondary-accent);
  font-size: 40px;
  font-family: "Bodoni Moda", serif;
  text-align: center;
}

.latest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.latest__img {
  object-fit: cover;
  width: auto;
  height: 500px;
  border-radius: 10px;
}

.latest__info {
  color: var(--secondary-accent);
  width: 50%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest__desc {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.index__btn {
  background: var(--secondary-accent);
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
  margin-bottom: 20px;
}

.index__btn:hover {
  color: white;
  background-color: var(--main-accent);
}

.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.about__img {
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.about__info {
  color: black;
  width: 50%;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__desc {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.about__header {
  color: var(--secondary-accent);
  font-size: 40px;
  font-family: "Bodoni Moda", serif;
  text-align: center;
  margin-top: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__email,
.footer__copyright {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}

.footer__email {
  color: black;
}

@keyframes fade {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 850px) {
  .nav__links {
    display: none;
  }

  .nav {
    transition: 0.3s ease-in;
  }

  .nav__menu-icon {
    cursor: pointer;
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    margin-right: 20px;
  }

  .nav__menu,
  .nav__menu::before,
  .nav__menu::after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: background-color ease 0.3s, top ease 0.3s 0.3s,
      transform ease 0.3s;
    width: 30px;
  }

  .nav__menu,
  .nav__menu::before,
  .nav__menu::after {
    background-color: var(--secondary-accent);
  }

  .nav__menu {
    bottom: 15px;
  }

  .nav__menu::before {
    top: -10px;
    transition: background-color ease 0.3s;
  }
  .nav__menu::after {
    top: 10px;
    transition: background-color ease 0.3s;
  }

  .nav__mobile-links {
    display: block;
  }

  #nav__check:checked ~ .nav__logo {
    color: black;
    font-size: 24px;
  }

  #nav__check:not(checked) ~ .nav__mobile-links {
    height: 0px;
  }

  #nav__check:checked ~ .nav__mobile-links {
    height: calc(100vh - 100px);
    padding: 40px;
  }

  #nav__check:checked ~ .nav__menu-icon .nav__menu {
    background: transparent;
  }

  #nav__check:checked ~ .nav__menu-icon .nav__menu::before {
    transform: rotate(45deg);
    background: var(--secondary-accent);
  }

  #nav__check:checked ~ .nav__menu-icon .nav__menu::after {
    transform: rotate(-45deg);
    background: var(--secondary-accent);
  }

  #nav__check:checked ~ .nav__menu-icon .nav__menu:before,
  #nav__check:checked ~ .nav__menu-icon .nav__menu:after {
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }

  .nav:has(#nav__check:checked) {
    background-color: var(--main);
  }

  .nav:has(#nav__check:checked) .nav__mobile-links {
    background-color: var(--main);
  }

  .slideshow__title #titleBottomBorder {
    display: none;
  }

  .gallery__column {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .slideshow__dots,
  .slideshow__next,
  .slideshow__prev {
    display: none;
  }
  .gallery__column {
    width: 100%;
  }
  .body {
    margin: 20px;
  }

  .latest__header {
    font-size: 30px;
  }

  .latest {
    flex-direction: column;
  }
  .latest__img {
    width: 100%;
    height: auto;
  }

  .latest__info {
    width: 100%;
  }

  .latest__desc {
    font-size: 14px;
  }

  .about__header {
    font-size: 30px;
  }

  .about {
    flex-direction: column;
  }
  .about__img {
    width: 100%;
    height: auto;
  }

  .about__info {
    width: 100%;
  }

  .about__desc {
    font-size: 14px;
  }
}
